.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 350px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.popup-backdrop::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  box-sizing: border-box;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 16px;
  min-height: 80px;
  position: relative;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(33, 59, 126, 1);
  z-index: 1;
}

.site-logo {
  width: auto;
}

.site-menu {
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-menu > li {
  display: flex;
  min-height: 80px;
}

.menu-link {
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  padding: 0 18px;
}

.menu-link:hover {
  color: rgba(33, 59, 126, 1);
  background-color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 153px;
  min-height: 50px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(234, 93, 33, 1);
  text-decoration: none;
}

.login-popup {
  display: none;
  position: absolute;
  z-index: 2;
  /* bottom: 0; */
  left: 50%;
  transform: translate(-50%, 100%);
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  min-height: 418px;
  padding: 26px 28px 56px;
  background-color: #FFFFFF;
  border: 1px solid #213B7E;
  box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.25);
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-input::placeholder 
.password-input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.login-form > input {
  width: 100%;
  max-width: 444px;
  min-height: 55px;
  margin-bottom: 56px;
  border: 1px solid #808080;
}

.popup-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 153px;
  min-height: 50px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #EA6113;
  border: none;
}

.login-form > input {
  padding: 0 1em;
}

.main {
  box-sizing: content-box;
  width: 100%;
  max-width: 911px;
  margin: 0 auto;
  /* padding: 0 2vw; */
  flex-grow: 1;
  margin-top: 100px;
}

.class-photo {
  object-fit: cover;
  width: 100%;
  max-width: 523px;
  height: 316px;
}

.main-heading {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.17;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.16;
}

.intro-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.intro-text {
  margin: 0;
  width: 100%;
  max-width: 634px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
}

.intro-aside {
  color: rgba(100, 100, 100, 1);
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.25;
}

.intro-aside > blockquote {
  margin: 0;
  position: relative;
}

.icon::before {
  content:'\275D';
  position: absolute;
  left: -25px;
  top: -5px;
}

.icon::after {
  content:'\275E';
  position: absolute;
  right: -20px;
}

.intro-text > strong {
  font-weight: 700;
}

.intro-text > em {
  font-style: italic;
  color: rgba(207, 85, 16, 1);
}

.student-header {
  margin-bottom: 37px;
}

.main-students {
  max-width: 1202px;
}

.student-heading {
  max-width: 1202px;
  padding: 0 13px;
  margin: 0 auto;
  margin-bottom: 24px;
  box-sizing: border-box;
}

.student-heading::after {
  content: '👧 👦';
}

/* .student-heading::after {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url(../img/avatar-m.svg);
  background-repeat: no-repeat;
} */

.students {
  display: flex;
  flex-wrap: wrap;
  max-width: 1202px;
  gap: 50px;
  padding: 0 13px;
  box-sizing: border-box;
  margin: 0 auto;
}

.student:nth-child(7) {
  background-color: rgb(15, 134, 202);
}

/* .student-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
} */

.student {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: 1px solid black; */
  box-sizing: border-box;
  width: 200px;
  flex: 1 1 0;
  background-color: rgba(134, 198, 244, 1);
}

@media (min-width: 1150px) {
  .student-link {
    max-width: calc(100% / 2);
  }
}

.new {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  right: -13px;
  display: flex;
  padding: 2px 5px;
  border-radius: 20px;
  background-color: rgba(58, 168, 40, 1);
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
}

.student img {
  /* height: auto; */
  object-position: bottom;
  object-fit: contain;
  min-height: 270px;
}

/* .student > img {
  width: 100%;
  min-height: 270px;
} */

.student-name {
  margin: 0;
  margin-bottom: 1em;
  display: block;
  text-align: center;
}

.main-about {
  max-width: 820px;
}

.about-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.16;
}

.about-video {
  width: 100%;
  min-height: 550px;
}

.main-contact {
  max-width: 100%;
}

.contact-heading {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
}

.contact-text {
  max-width: 820px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
}

.contact-map {
  display: block;
  width: 100%;
  max-width: 1268px;
  height: 370px;
  margin: 0 auto;
  margin-bottom: 15px;
}

/* .contact-map {
  box-sizing: border-box;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 0 16px;
} */

.contact-address,
.contact-tel {
  max-width: 820px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
}

.footer {
  box-sizing: border-box;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 16px;
  min-height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 59, 126, 1);
}

.copywrite {
  color: rgba(255, 255, 255, 0.5);
}

.innop-link {
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 630px) {
  .header {
    justify-content: center;
    padding: 1em 16px;
    gap: 1em;
  }
  .site-logo {
    width: 100%;
    min-height: 80px;
  }
  .site-menu {
    justify-content: center;
  }
}

.active-link {
  color: rgba(33, 59, 126, 1);
  background-color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.show-popup {
  display: block;
}
